.stars {
    cursor: pointer;
    display: inline-block;
    transform: scale(.7);
    transform-origin: top left;
}

.stars:hover .star polygon {
    fill: var(--yellow) !important;
}

.stars .star {
    float: left;
}

.stars .star polygon {
    fill: var(--grey);
}

.stars .star:hover~.star polygon {
    fill: var(--grey) !important;
}

.stars[data-stars] .star polygon {
    fill: var(--yellow);
}

.stars[data-stars="1"] .star:nth-child(1)~.star polygon {
    fill: var(--grey);
}

.stars[data-stars="2"] .star:nth-child(2)~.star polygon {
    fill: var(--grey);
}

.stars[data-stars="3"] .star:nth-child(3)~.star polygon {
    fill: var(--grey);
}

.stars[data-stars="4"] .star:nth-child(4)~.star polygon {
    fill: var(--grey);
}

.stars[data-stars="5"] .star:nth-child(5)~.star polygon {
    fill: var(--grey);
}