*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --module-width: 750px;
    --body-bgr: #f4f8fb;
    --yellow: #ffd055;
    --white: #fff;
    --grey: #d8d8d8;
    --grey-steel: #8195a3;
    --grey-light: #f7f7f7;
    --red: #ff6347;
    --green: #6dd000;
    --font-color: #666;
}

body {
    font-family: var(--font-family-sans-serif);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.37;
    color: var(--font-color);
    text-align: left;
    background-color: var(--body-bgr);
}

#root {
    background-color: var(--body-bgr);
    height: 100vh;
    background-image: url('./airplane.svg');
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center center;
}