.searchModule__block {}

.searchModule__form_wrap {
    padding: 20px;
    border: 1px solid #ececec;
    background: var(--white);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}

.searchModule__form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--module-width);
    margin-left: auto;
    margin-right: auto
}

.searchModule__input {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    line-height: 1.42857143;
    border: 2px solid #E6ECEF;
    border-right: none;
    box-shadow: none;
    margin-bottom: 0;
    webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-family: inherit;
    outline: 0;
    background: #fff;
    color: #333;
    border-radius: 4px 0 0 4px;
    transition: border-color .1s ease-in, box-shadow .1s ease-in;
}

.searchModule__input:hover {
    box-shadow: inset 0 0 10px rgba(15, 95, 193, .1);
    border-color: #CCD8DE;
}

.searchModule__input:focus {
    box-shadow: 0 0 10px rgba(15, 95, 193, .3);
    border-color: #00A7F7;
}

.searchModule__btn {
    background-color: var(--white);
    border-color: #E6ECEF;
    border-width: 2px;
    border-style: solid;
    color: #fff;
    display: inline-block;
    height: 44px;
    padding: 6px 23px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 0 4px 4px 0;
    text-decoration: none;
    background: url('https://autoo.ru/img/search_inp.svg') 50% 50% no-repeat;
}

.searchModule__list {
    list-style: none;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    margin: 10px auto 20px;
    position: relative;
    max-width: var(--module-width);
}

.searchModule__list:before,
.searchModule__list:after {
    position: absolute;
    top: -4px;
    left: 40px;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    background-color: #fff;
    z-index: 1;
    content: "";
}

.searchModule__list:after {
    background-color: #ececec;
    top: -6px;
    z-index: -2;
}

.searchModule__list_item {
    display: flex;
    padding: 30px;
}

.searchModule__list_item:not(:first-child) {
    cursor: pointer;
}

.searchModule__list_item:not(:first-child):hover {
    background: #fafafa;
}

.searchModule__list_item--special {
    /* background: #f4f8fb; */
}

.searchModule__list_item--title {
    display: block;
}

.searchModule__list_item_head {
    font-size: 30px;
    font-weight: 200;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.searchModule__list_item_head_hint {
    color: tomato;
}

.searchModule__list_item_head_hint_count {
    font-size: 10px;
    color: #8195a3;
    font-weight: 500;
    padding: 5px 0;
    text-transform: uppercase;
}

.searchModule__list_item_content {
    display: flex;
}

.searchModule__list_item_image_block {
    position: relative;
    width: 100px;
    height: 100px;
}

.searchModule__list_item_image_block::before,
.searchModule__list_item_image_block::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: #f4f8fb;
    top: 7px;
    left: 7px;
    z-index: 1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2)
}

.searchModule__list_item_image_block::after {
    top: 3px;
    left: 3px;
    z-index: 2;
}

.searchModule__list_item_image {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1)
}

.searchModule__list_item_info_block {
    color: #666;
    margin-left: 30px;
    position: relative;
    padding-left: 80px;
}

.searchModule__list_item_location {
    color: #8195a3;
    font-weight: 200;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.searchModule__list_item_date {
    font-size: 10px;
    color: var(--grey-steel);
    margin-bottom: 5px;
}

.searchModule__list_item_title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
}

.searchModule__list_item_price {
    position: absolute;
    top: 10px;
    left: -5px;
    font-size: 25px;
    font-weight: 200;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    background: #f7f7f7;
}

.searchModule__list_item_price:first-letter {
    font-size: 17px;
}

.searchModule__list_item_special_offer {
    background: #6dd000;
    color: #fff;
    position: absolute;
    bottom: -7px;
    left: 15px;
    font-size: 7px;
    height: auto;
    line-height: 10px;
    display: none;
    font-weight: 500;
    padding: 3px 3px;
    text-transform: uppercase;
    border-radius: 3px;
    width: 39px;
}

.searchModule__list_item_special_offer--active {
    display: block;
}

.searchModule__list_item_price--special {
    background: #6dd000;
    color: #fff;
}

.searchModule__list_item_rating {
    font-size: 12px;
    color: #8195a3;
    display: flex;
}

.searchModule__list_item_reviews {
    position: relative;
    transform: translate3d(-25px, 2px, 0);
}

.searchModule__list_item_selection {
    color: #f86f61;
    font-weight: bold;
}